<ion-card class="card"  button (click)="noteClickHandler()">
  <ion-card-header class="header">
    <ion-card-title class="title"><ion-icon [name]="icon()" color="primary"></ion-icon>
      <span [innerHTML]="getNoteTitle()" class="title-inner"></span>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class="content">

    <ion-thumbnail *ngIf="isImageType() && note.file" class="image">
      <img [src]="note.file.path">
    </ion-thumbnail>

    <p *ngIf="isTextType()" class="text" [innerHTML]="getNoteContent()"></p>
    <p *ngIf="isImageType()" class="imagetext" [innerHTML]="getNoteContent()"></p>

    <div class="audio" *ngIf="isAudioType() && note.file">
      <audio controls [id]="note.id">
        <source [src]="note.file.path" type="audio/mpeg">
      </audio>
    </div>

    <ion-chip>
      <ion-label>{{note.created_at | localizedDate }}</ion-label>
    </ion-chip>

    <ion-chip *ngIf="note.exhibitor">
      <ion-label>{{note.exhibitor.name}}</ion-label>
    </ion-chip>

  </ion-card-content>
</ion-card>
