.card {
    margin: 0;

    min-height: 160px;
    background-color: #C5DCDD;
    border-radius: 0px;
     margin-bottom: 8px;
    box-shadow: none;
    padding-top: 5px;
    top: 0px;
}




.header, .content {
    padding: var(--ion-padding-small);
}
.header {
    padding-bottom: 0;
}
.title {
    font-size: 12px;
    letter-spacing: normal;
    font-weight: 300;
}
.subtitle {
    font-size: 10px;
    text-align: right;
}
.text {
    min-height: 100px;
    text-align: left;
    font-size: 14px;
    color: #444D4D;
    white-space: pre-wrap;
}
.imagetext {
    text-align: left;
    font-size: 14px;
    color: #444D4D;
    white-space: pre-wrap;
}
.image {
    width: 100%;
    height: 100%;
    min-height: 100px;
}
.audio {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-inner {
    margin-left: var(--ion-margin-small);
}

ion-chip{
    height: 15px;
    ion-label{
        font-size:8px;
    }
}


