
.notes {
  margin-bottom: 80px;
}

ion-checkbox{
  color:#007072
}

.header-slides{
  margin-top: -7vh;
}

.background{
  background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);

  width: 100%;

  z-index: 10;
  position: absolute;
  height: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6%;
}


.plus{
  background-image: url(/../../assets/plusMark.svg);
}

.sub-footer {
  position: fixed;
  bottom: 64px;
  bottom: calc(64px + env(safe-area-inset-bottom));
  left: 0;
  right: 0;
  z-index: 3000;
}



#addButtonBorder{
  width: 90%;
  height: 229px;
  border: 2px solid #C5DCDD;
  border-radius: 20px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;

}

.plus{
  display:inline-block;
  width:50px;
  height:50px;
}

.lower-background {
  width: 100%;
  z-index: -2;
  left: 0%;
  right: 0%;
}

ion-content{
  --ion-background-color:#F5F5F5;
}

ion-button{
  height: 50px !important;
  letter-spacing: 2px !important;

}

.img {
  max-width: 200%;
  border: 0;
}

.background .headerSheet .return {
  --border-color: transparent;
  --ion-color-primary: #7BB0B1;
  z-index: 8;
}

.share {
  --border-color: transparent;
  --ion-color-primary: white;
  background-color: transparent;
}

.background .header {
  letter-spacing: 2px;
  font-size: 18px;
  color: white;
  font-family:"WorkSans-Medium";
}
ion-card{
  margin-left: 0px;
  margin-right: 0px;
}


.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #007072;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.catalog-list{
  padding-top: 5%;
  .row1 {
    width: 90%;
    background: white;
    margin: auto;
    margin-bottom: 3%;
  }
}

.catalog-slider{
  .swiper-slide img {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    height: min-intrinsic;
  }
}

.exh-logo{
  width: 60px;
  background: white;
  height: 60px;
  border-radius: 36px;
  padding: 10px;
  position: absolute;
  left: -10px;
}

.notes {
  text-align: left;
  font-size: 23px;
  color: #112142;
}

.note-list{
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 0.5em;
  -webkit-column-gap: 0.5em;
  column-gap: 0.5em;
  margin-bottom: 20%;
}
.note-item{
  background: #C5DCDD;
  margin-top: 5%;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 5%;
  padding-top: 5%;
  height: auto;
  .note-item-inner{
    background: transparent;
    margin-top: 5px;
    padding: 5%;
    letter-spacing: 1px;
    .note-text{
      text-align: left;
      font-size: 14px;
      color: #444D4D;
    }
  }
  .note-img{
    width: 100%;
    height: auto;
    height: min-intrinsic;
  }
  .note-item-headline{
    font-size: 12px;
    letter-spacing: normal;
  }
}

.active-icon{
  display: none;
}
