<app-toolbar *ngIf="_exhibitor?.logo"  variant="small" [logo]="_exhibitor?.logo" >
  <ion-buttons slot="end">
    <ion-button (click)="share()">
      <ion-icon name="share-social-outline" slot="icon-only" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar>
<app-toolbar *ngIf="!_exhibitor?.logo"  [title]="_exhibitor?.name" variant="small" >
  <ion-buttons slot="end">
    <ion-button (click)="share()">
      <ion-icon name="share-social-outline" slot="icon-only" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar>


<ion-content *ngIf="_exhibitor">
  <ion-slides *ngIf="_exhibitor.banner" class="header-slides" pager="false" [options]="slideOpts2">
    <ion-slide>
      <ion-row style="width: 100%;">
        <ion-col style="padding-left: 0px; padding-right: 0px;">
          <div class="lower-background">
            <img style="z-index: 1;width: 102%;" class="image" src="{{_exhibitor.banner?.path}}">
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>

  <ion-row style="padding: 15px;">
    <ion-col style="display: flex;
    align-items: center;" size="7" (click)="LISTENANSICHT()">
        <img *ngIf="_exhibitor.catalogs.length > 0" src="../../assets/images/optionicon.svg">
        <ion-text style="margin-left: 5px;" *ngIf="!_listView && _exhibitor.catalogs.length > 0" class="upper-case-text">{{ 'EXHIBITOR_DETAILS.list_view' | translate }}</ion-text>
        <ion-text style="margin-left: 5px;" *ngIf="_listView && _exhibitor.catalogs.length > 0"  class="upper-case-text">{{ 'EXHIBITOR_DETAILS.tile_view' | translate }}</ion-text>
    </ion-col>
    <ion-col style="display: flex;
    align-items: center;justify-content: flex-end;" size="5">
      <label style="font-size: 11px;color: #444D4D;margin-left: 10px;top: 10%;
      text-transform: uppercase;" class="container">{{ 'EXHIBITOR_DETAILS.visit_again' | translate }}
        <input type="checkbox" (click)="bookmark()" [value]="isBookmarked()" >
        <span class="checkmark"></span>
      </label>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="_exhibitor.catalogs.length > 0" style="padding: 10px 10px 0px 10px;margin-left: 5px;">
    <ion-text style="font-size: 22px;color: #112142;">{{ 'EXHIBITOR_DETAILS.catalog' | translate }}</ion-text>
  </ion-row>

  <div class="catalog-list" *ngIf="_exhibitor.catalogs.length > 0 && _listView">
    <div class="div row1"  *ngFor="let catalog of _exhibitor.catalogs">
      <ion-row class=""  (click)="openCatalog(catalog)">
        <ion-col [size]=2>
          <img src="{{catalog.thumb.path}}">
        </ion-col>
        <ion-col [size]=10 class="col">
          <ion-text class="text">{{catalog.name}}</ion-text>
          <ion-text class="text1">{{catalog.subline}}</ion-text>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <ion-slides class="catalog-slider" style="background: #F5F5F5;padding-left: 4%;" pager="false" [options]="slideOpts" *ngIf="_exhibitor.catalogs && !_listView">
    <ion-slide *ngFor="let catalog of _exhibitor.catalogs" (click)="openCatalog(catalog)" style="width: 180px;
    margin-left: 10px;">
      <ion-card style="background: white; padding-bottom: 5%;">
        <ion-row style="padding:10px">
          <img src="{{catalog.thumb.path}}">
        </ion-row>
        <ion-row>
          <ion-text style="font-size: 14px;color: #444D4D;margin-top: 10px;margin-left: 10px;">{{catalog.name}}</ion-text>
        </ion-row>
        <ion-row>
          <ion-text style="font-size: 13px;color: #B4B3B3;margin-left: 10px;">{{catalog.subline}}</ion-text>
        </ion-row>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <app-notes-tile-view showAddNote="true" [exhibitorId]="_exhibitorId"></app-notes-tile-view>
  <div class="notes"></div>

  <ion-row class="sub-footer" (click)="anfragen()">
    <ion-col>
      <div style="text-align: center;font-size:16px;">
        <ion-button (click)="anfragen()" type="submit" form="form1" value ="submit" shape="round" fill="outline" style="--border-width: 2px;
        --border-color: #907F63;
        background-color: #F5F5F5;
        border-radius: 64px;
        color: #907F63;
        width: 69%;
        height: 54px;">{{ 'EXHIBITOR_DETAILS.request' | translate }}<img style="margin-left: 12%;" src="../../../assets/anfragenarrow.png"></ion-button>
      </div>
    </ion-col>
  </ion-row>

</ion-content>
