<app-toolbar-with-slots id="title" [title]="notebook ? ('NOTEBOOK_FORM.title_settings' | translate ) : ('NOTEBOOK_FORM.title_new' | translate )">
  <ion-buttons slot="start">
    <ion-button (click)="close()">
      <ion-icon slot="icon-only" name="arrow-back-outline" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar-with-slots>

<ion-content class="content">
  <form [formGroup]="form">
    <ion-list class="form">
      <ion-item>
        <ion-label position="floating" [color]="color('title')">{{ 'NOTEBOOK_FORM.fair_name' | translate}}<app-required></app-required></ion-label>
        <ion-input formControlName="title" placeholder="{{ 'NOTEBOOK_FORM.name_placeholder' | translate }}" autocapitalize="on"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-checkbox formControlName="is_shared"></ion-checkbox>
        <ion-label class="checkbox-label">{{ 'NOTEBOOK_FORM.team_fairbook' | translate }}</ion-label>
      </ion-item>
      <app-users-control formControlName="participants" *ngIf="form.get('is_shared').value"></app-users-control>
      <app-messe-control [color]="color('exhibition_id')" formControlName="exhibition_id" *ngIf="!withoutExhibitionView"></app-messe-control>
      <ion-item>
        <ion-label position="floating" [color]="color('description')">{{ 'NOTEBOOK_FORM.description' | translate }}</ion-label>
        <ion-textarea formControlName="description" autoGrow="true" rows="3"></ion-textarea>
      </ion-item>

      <ion-button (click)="createNotebook()" type="button" shape="round" class="main-button button-outline" [disabled]="!form.valid"
          *ngIf="isEditable() || !notebook">
        <ion-icon name="checkmark-outline" class="submit-icon"></ion-icon>
        {{notebook ? ( 'NOTEBOOK_FORM.save_changes' | translate ) : ( 'NOTEBOOK_FORM.create' | translate ) }}
      </ion-button>

      <div class="link-container" *ngIf="!withoutExhibitionView">
        <ion-text class="link" (click)="switchMode()">{{ 'NOTEBOOK_FORM.no_fair' | translate }}</ion-text>
      </div>
      <div class="link-container" *ngIf="afterDelete && isEditable()">
        <ion-text class="link red-link" (click)="deleteNotebook()">{{ 'NOTEBOOK_FORM.delete' | translate }}</ion-text>
      </div>

    </ion-list>
  </form>
</ion-content>

<app-footer></app-footer>
