.form {
    padding: var(--ion-padding);
}
.submit {
    margin-top: var(--ion-margin);
    width: 100%;
}
.submit-icon {
    margin-right: var(--ion-margin-small);
}
.content {
    --offset-bottom: 70px !important;
}
.link {
    font-family: WorkSans-Regular;
    font-size: 16px;
    color: #007072;
    margin-left: 2%;
    text-decoration: underline;
}
.red-link {
    color: red;
}
.link-container {
    display: flex;
    margin-top: var(--ion-margin);
    justify-content: center;
}
.checkbox-label {
    margin-left: var(--ion-margin-small);
}