<app-toolbar-with-slots title="{{ 'PROFILE.title' | translate }}">
  <ion-buttons slot="start">
    <ion-button (click)="goBack()">
      <ion-icon slot="icon-only" name="arrow-back-outline" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar-with-slots>
<ion-content>  

  <form [formGroup]="form">
    <ion-list class="form">
      <ion-item>
        <ion-label position="floating" [color]="color('company')">{{ 'PROFILE.company' | translate }}</ion-label>
        <ion-input formControlName="company" autocapitalize="on"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" [color]="color('first_name')">{{ 'PROFILE.first_name' | translate }}<app-required></app-required></ion-label>
        <ion-input formControlName="first_name" autocapitalize="on"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" [color]="color('last_name')">{{ 'PROFILE.last_name' | translate }}<app-required></app-required></ion-label>
        <ion-input formControlName="last_name" autocapitalize="on"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" [color]="color('email')">{{ 'PROFILE.mail' | translate }}<app-required></app-required></ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" [color]="color('current_password')">{{ 'PROFILE.current_password' | translate }}</ion-label>
        <ion-input formControlName="current_password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" [color]="color('password')">{{ 'PROFILE.new_password' | translate }}</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" [color]="color('password_confirmation')"> {{ 'PROFILE.retype_new_password' | translate }} </ion-label>
        <ion-input formControlName="password_confirmation" type="password"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="form.errors && form.errors.notMatch">{{ 'PROFILE.no_match' | translate }}</ion-note>

      <ion-button (click)="saveProfile()" type="button" shape="round" class="submit" [disabled]="!form.valid">
        <ion-icon name="checkmark-outline" class="submit-icon"></ion-icon>
        {{ 'PROFILE.save' | translate }}
      </ion-button>

      <ion-button (click)="logout()" type="button" shape="round" fill="outline" class="logout" color="danger">
        {{ 'PROFILE.logout' | translate }}
      </ion-button>

    </ion-list>
  </form>
  
</ion-content>
