<ion-content #content>

   

    <ion-row class="background" style="padding-left: 3%;" >
      <ion-col style="text-align: right" size="2" style="padding-top:7%;display: flex;
      justify-content: center;">
        <div class="headerSheet" style="margin-top: 35%;">
        
            <!-- <ion-icon slot="icon-only" size="large" color="light" name="arrow-back-outline" (click)="return()"></ion-icon> -->
      <img (click)="return()" src="../../../assets/back.svg">
        </div>
      </ion-col> 
      <ion-col size="8" style="padding-top:5%">
        <div style="margin-top: 10%;">
          <a class="header" style="font-size: 18px;color: #FFFFFF;;">Hinzufügen</a>
        </div>
      </ion-col>
    </ion-row> 


    <ion-row style="margin-top: 57%;">
      <ion-col> 
      <div class="header" style="font-size:23px;color: #112142;">
          Was möchten Sie<br>hinzufügen?
      </div> 
      </ion-col> 
    </ion-row>
    <ion-row style="margin-top: 25%;">
      <ion-col size="1">
      </ion-col>
      <ion-col size="10">
        <div id="box">
          <ion-button (click)="goNote()" shape="round" fill="outline" style="--border-width: 2px;">NOTIZ</ion-button>
            <div id="object">
            <img src="/../../assets/icon_note.svg">
          </div>
        </div>
      </ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row> 
    <ion-row style="margin-top: 5px;">
      <ion-col>
        <div style="text-align: center; font-size: 15px; color: #444D4D;">
          oder
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10%;">
      <ion-col size="1">
      </ion-col>
      <ion-col size="10">
        <div id="box">
          <ion-button (click)="goProduct()" shape="round" fill="outline" style="--border-width: 2px;">PRODUKT</ion-button>
          <div id="sentence">
            <img src="/../../assets/box.svg">
          </div>
        </div>
      </ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row>

</ion-content>



