<ion-content #content>
 
  <ion-row class="background">
    <ion-col style="text-align: center" size="3">
      <div class="headerSheet" style="margin-top: 5%;">
        <img class="img1" src="/../../assets/BG-Iconic_final/messe_book_logo.png">
      </div>
    </ion-col>
    <ion-col size="9">
      <div style="position: relative; top: -5px;">
      <p class="header">Meine Messebücher</p>
      </div>
    </ion-col>
  </ion-row>


  <ion-row class="row">
    <div class="div">

      <ion-input placeholder="Messebücher durchsuchen" type="text" class="text" autocapitalize="on"
          [formControl]="searchControl" (ionChange)="onSearchInput()" ></ion-input>
      <ion-icon class="icon" name="search-outline"></ion-icon>
    </div>
  </ion-row>

  <ion-row class="row1" (click)="filterOwn()">
    <div class="div2" >
      <ion-text [ngClass]="_filterOwn ? 'activeText' : ' '" class="ionText"> <ion-icon name="person-outline" class="book-kind-icon"> </ion-icon>Meine Messebücher  ({{getCountOwn()}})</ion-text>
    </div>
  </ion-row>

  <ion-row class="row1" (click)="filterShared()">
      <div class="div2">
      <ion-text [ngClass]="_filterTeam ? 'activeText' : ' '" class="ionText"><ion-icon name="people-outline" class="book-kind-icon"></ion-icon>Team Messebücher ({{getCountShared()}})</ion-text>
  </div>
  </ion-row>
  
  <ion-row class="row2">
    <div class="div2">
    <ion-text class="text1">Messebücher</ion-text>
  </div>
  </ion-row>

  <ion-row class="row4">


    <div class="div2" *ngFor="let book of _filteredBooks" (click)="goTo()">
      <ion-text class="ionText">
        <ion-icon *ngIf="book.isShared" name="people-outline" class="book-kind-icon"></ion-icon>
        <ion-icon *ngIf="!book.isShared" name="person-outline" class="book-kind-icon"> ></ion-icon>
        {{book.name}}
      </ion-text>

      <img  src="../../assets/Icon ionic-ios-arrow-round-forward.svg">
    </div>




  </ion-row>

  <ion-row class="row3" (click)="goTo3()">
    <div class="div1">
      <img class="img" src="../../assets/images2/icon_note.svg">
      <ion-text>Neues Messebuch</ion-text>
    </div>
  </ion-row>

  <div class="footerbg"></div>

</ion-content>

