.background{
    background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
   // height: 20%;
    width: 100%;
    font-family:"WorkSans-Medium";
    z-index: 10;
    position: absolute;
    height: 20%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .background .header {
    font-size: 18px;
    font-family:"WorkSans-Medium";
    color: white;
    position: relative;
    left: 0px;
    margin-top: 17%;
}

.background .logo {
    width: 75%;
    height: 75%;
    bottom: 0px;
    margin-top: 10%;
    margin-left: 10%;
    position: relative;
}

.footerbg{
    margin-left: 0px !important;
    background-image: url(../../assets/messeauswah-bottom@1x.png);
    height: 15%;
    width: 100%;
    bottom: 0;
    align-items: baseline;
    max-width: auto;
    left: 0px;
  
    background-position-x: 50%;
    background-position-y: 42%;
    position: relative;
  text-align: center;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 6%;
  }
  .text{
      color: #B4B3B3;
      font-family:"WorkSans-Regular";
      font-size: 18px;
  }

  .icon{
    color: #B4B3B3;
    font-size: 22px;
  }

  .div{
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1%;
      border-bottom: 1px solid #112142;
      align-items: center;
  }
  .div2{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
  }

  .row{
      justify-content: center;
      margin-top: 50%;
  }
  .row1{
    margin-top: 5px;
    justify-content: center;
  }
  .row2{
    margin-top: 15%;
    justify-content: center;
  }
  .row3{
    margin-top: 10%;
    justify-content: center;
  }
  .row4{
    margin-top: 5%;
    justify-content: center;
  }
  .div1{
      border: 1px solid #907F63;
      border-radius: 50px;
      width: 85%;
      padding: 3%;
      display: flex;
      flex-direction: row;
      align-items: center;
      ion-text{
        color: #907F63;
        font-family: "WorkSans-Medium";
        font-size: 16px;
        margin-left: 7%;
        text-transform: uppercase;
        letter-spacing: 4px;
      }
      img{
        margin-left: 7%;
      }
  }
  .img{
    margin-left: 24%;
  }
  .img1{
    width: 50%;
    margin-top: 35%;
  }
  .text1{
    font-family:"WorkSans-Regular";
    font-size: 23px;
    color: #112142; 
    // margin-left: 10%;
  }
  
  .col{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .ionText{
    color: #112142; 
    font-family:"WorkSans-Regular";
    font-size: 18px;
  }

  .activeText{
    color: #5f969b;
  }

  .book-kind-icon{
    margin-right: 6px;
    font-size: 15px;
  }
