<app-toolbar-with-slots id="title" title="{{ 'NOTES_MIXED.title' | translate }}">
    <ion-buttons slot="start">
        <ion-button (click)="openNotebookDetails()">
            <ion-icon slot="icon-only" name="newspaper-outline" color="light"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isEditable()">
        <ion-button (click)="newNote()">
            <ion-icon slot="icon-only" name="add-outline" color="light"></ion-icon>
        </ion-button>
    </ion-buttons>
</app-toolbar-with-slots>

<ion-content>
    
    <app-notes-tile-view showSearch="true"></app-notes-tile-view>

</ion-content>


