<app-toolbar-with-slots title="{{ 'REGISTER.title' | translate }}">
  <ion-buttons slot="start">
    <ion-button (click)="goBack()">
      <ion-icon slot="icon-only" name="arrow-back-outline" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar-with-slots>
<ion-content>
  <form [formGroup]="form">
    <ion-list class="form">
      <ion-item>
        <ion-label position="floating" [color]="color('company')">{{ 'REGISTER.company' | translate }}</ion-label>
        <ion-input formControlName="company" autocapitalize="on"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" [color]="color('first_name')">{{ 'REGISTER.first_name' | translate }}<app-required></app-required></ion-label>
        <ion-input formControlName="first_name" autocapitalize="on"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" [color]="color('last_name')">{{ 'REGISTER.last_name' | translate }}<app-required></app-required></ion-label>
        <ion-input formControlName="last_name" autocapitalize="on"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" [color]="color('email')">{{ 'REGISTER.mail' | translate }}<app-required></app-required></ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" [color]="color('password')">{{ 'REGISTER.password' | translate }}<app-required></app-required></ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" [color]="color('password_confirmation')">{{ 'REGISTER.retype_password' | translate }}<app-required></app-required></ion-label>
        <ion-input formControlName="password_confirmation" type="password"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="form.errors && form.errors.notMatch">{{ 'REGISTER.no_match' | translate }}
      </ion-note>

      <ion-button (click)="registerNewUser()" type="button" shape="round" class="main-button button-outline" [disabled]="!form.valid">
        <ion-icon name="checkmark-outline" class="submit-icon"></ion-icon>
        {{ 'REGISTER.register' | translate }}
      </ion-button>
    </ion-list>

    <div class="justify-center small-text-block">
      {{ 'REGISTER.already_exists' | translate }}  <a class="ml-s" (click)="goBack()">{{ 'REGISTER.login' | translate }}</a>
    </div>


  </form>
</ion-content>
