.footer{
    pointer-events: none;
    background-image: url(../../../assets/messeauswah-bottom@1x.png);
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    @media all and (max-height: 500px){
      display: none;
    }
  }
