<app-toolbar-with-slots title="{{ 'MENU.title' | translate }}">
  <ion-buttons slot="start">
    <ion-button (click)="close()" >
      <ion-icon slot="icon-only" name="arrow-back-outline" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar-with-slots>

<ion-content>
  <ion-list>
    <ion-item button (click)="href('notebooks')">
      <ion-icon name="library-outline" slot="start"></ion-icon>
      <ion-label>{{ 'MENU.fairbooks' | translate }}</ion-label>
    </ion-item>
    <ion-item button (click)="editProfile()">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>{{ 'MENU.profile' | translate }}</ion-label>
    </ion-item>
    <ion-item button (click)="editNotebook()">
      <ion-icon name="settings-outline" slot="start"></ion-icon>
      <ion-label>{{ 'MENU.fairbook_settings' | translate }}</ion-label>
    </ion-item>
    <ion-item button (click)="presentPopover()">
      <ion-icon name="earth-outline" slot="start"></ion-icon>
      <ion-label>{{ 'MENU.language' | translate }}</ion-label>
    </ion-item>
    <ion-item button (click)="href('/tabs/iframe/datenschutz')">
      <ion-icon name="reader-outline" slot="start"></ion-icon>
      <ion-label>{{ 'MENU.privacy' | translate }}</ion-label>
    </ion-item>
    <ion-item button (click)="href('/tabs/iframe/impressum')">
      <ion-icon name="reader-outline" slot="start"></ion-icon>
      <ion-label>{{ 'MENU.impressum' | translate }}</ion-label></ion-item>
    <ion-item button (click)="logout()">
      <ion-icon color="danger" name="log-out-outline" slot="start"></ion-icon>
      <ion-label color="danger">{{ 'MENU.logout' | translate }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
