<app-toolbar *ngIf="!exhibition?.logo" [title]="exhibition ? exhibition.name : ( 'EXHIBITION_INFO.title' | translate )" variant="small" [logo]="null" ></app-toolbar>
<app-toolbar *ngIf="exhibition?.logo" variant="small" [logo]="exhibition.logo"></app-toolbar>


<ion-content #content overflow-scroll="true">

  <div *ngIf="!exhibition" class="no-exhibition">
    {{ 'EXHIBITION_INFO.no_exhibition' | translate }}
  </div>

  <div *ngIf="exhibition">
    <div style="background: white;min-height: 20vh;">
      <img style="" [src]="exhibition?.banner?.path">
    </div>

    <div class="ausDiv" (click)="austeller()">
      <ion-text style="font-size: 23px;color: #444D4D;font-family: WorkSans-Regular;">{{ 'EXHIBITION_INFO.exhibitors' | translate }}</ion-text>
      <img src="../../assets/images2/newarrow.svg">
    </div>

    <ion-slides style="background: white;padding-bottom: 3%;" pager="false" [options]="slideOpts">


      <ion-slide *ngFor="let exhibitor of exhibitors" [routerLink]="['/tabs/exhibitors-detail/', exhibitor.id]">
        <ion-card>
          <ion-row>
            <img src="{{exhibitor?.logo?.path}}">
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 12px;color: #444D4D;margin-top: 10px;
              font-family: WorkSans-Regular;">{{exhibitor.name}}</ion-text>
          </ion-row>
        </ion-card>
      </ion-slide>


    </ion-slides>


    <div class="helanDiv">
      <ion-col size="8" style="display: flex;justify-content: space-evenly;padding-top: 0px;padding-right: 30px;">
        <img src="../../assets/images2/4.png">
        <ion-text style="font-size: 23px;color: #444D4D;">{{ 'EXHIBITION_INFO.hall_plan' | translate }}</ion-text>
      </ion-col>
      <ion-col size="4" style="display: flex;
      justify-content: flex-end;
      padding-top: 0px;padding-right: 10px;">

      </ion-col>
    </div>
    <div class="programmDiv">
      <ion-row style="display: flex;
      justify-content: space-between;padding-top: 10px;
      ">
        <ion-text style="font-size: 23px;color: #444D4D;">{{exhibition?.name}}</ion-text>
        <p style="font-size: 13px;">{{exhibition?.description}}</p>
        <p>{{exhibition?.starts_at | localizedDate}} -<br> {{exhibition?.ends_at| localizedDate}}</p>

      </ion-row>
      <ion-row style="display: flex;
      justify-content: space-between;
      ">
        <ion-text style="font-size: 23px;color: #444D4D;">{{ 'EXHIBITION_INFO.program' | translate }}</ion-text>

      </ion-row>



      <ion-row style="display: flex;
      justify-content: space-between;padding-top: 10px;
      ">
        {{exhibition?.schedule}}

      </ion-row>


    </div>
  </div>

</ion-content>
