
app-toolbar {
  margin-bottom: -20%;
}

.no-exhibition {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  padding: 20px;
  text-align: center;
}


.topHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.background-top .header {
  color: white;
  font-size: 18px;
  left: 0px;
  margin-top: 10px;
}



ion-slide{
  margin-right: 0px !important;
  img{
    width: 60%;
    height: auto;
    height: min-intrinsic;
    margin: auto;
  }
}

.ausDiv{
  padding: 25px;
  display: flex;
  justify-content: space-between;
  background: white;
}



.helanDiv{
  height: 67px;
  padding: 17px;
  display: flex;
  background: #D5E1E2;
}

.programmDiv{
  padding: 25px;
  background: white;
  border: 2px solid transparent;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-bottom:32% !important;
  -webkit-box-shadow: 0 10px 6px -6px #7777774d;
  -moz-box-shadow: 0 10px 6px -6px #7777774d;
  box-shadow: 0 10px 6px -6px #7777774d;

  ion-row{
    ion-col{
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  ion-button{
    color: #444D4D;
    --border-color: #007072;
    text-transform: capitalize;
  }

}

ion-card{
  border: 2px solid transparent;
  border-radius: 22px;

  background: #F4F4F4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  height: 110px;
  width: 115px;
  padding-left: 5px;
  padding-right: 5px;
}

// ion-content{

//   --ion-background-color:#F5F5F5;
// }

.exh-logo{
  width: 60px;
  background: white;
  height: 60px;
  border-radius: 36px;
  padding: 10px;
}
