<ion-item>
  <ion-label [color]="color">{{value ? value.name : 'MESSE_CONTROL.value' | translate }}</ion-label>
  <ion-buttons slot="end">
    <ion-button *ngIf="!value" (click)="openSearch()">
      <ion-icon slot="icon-only" name="search-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="value" (click)="clearInput()">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>
