<app-toolbar [title]="'EXHIBITORS.title' | translate" variant="small" icon="list-outline"></app-toolbar>



<ion-content #content>

    <ion-row>
      <ion-col style="display: flex;
      flex-direction: row;
      justify-content: center;">

        <div style="display: flex;
        flex-direction: row;
        align-items: center;
        width: 95%;
        border-bottom: 1px solid #707070;">
          <ion-input placeholder="{{ 'EXHIBITORS.search_placeholder' | translate }}" type="text" autocapitalize="on"
          (ionChange)="searchByText($event)"></ion-input>
          <ion-icon style="color: black;font-size: 20px;" name="search-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="selection" style="padding: 0 15px 0 15px;">

      <ion-col (click)="showAll()" size="2.5" style="display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;">
      <div  style="border: 1px solid;
      width: 100%;
      text-align: center;height: 30px;
    justify-content: center;
    display: flex;
    align-items: center;">
        <ion-text style="font-size: 11px;font-family: WorkSans-Regular;
        color: #444D4D;">{{ 'EXHIBITORS.filter_all' | translate }}</ion-text>
      </div>
      </ion-col>

      <ion-col (click)="showVisited()" size="3.5" style="display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;">
      <div  style="border: 1px solid;
      width: 100%;
      text-align: center;height: 30px;
      justify-content: center;
      display: flex;
      align-items: center;">
        <ion-text style="font-size: 11px;font-family: WorkSans-Regular;
        color: #444D4D;">{{ 'EXHIBITORS.filter_visited' | translate }}</ion-text>
      </div>
      </ion-col>

      <ion-col (click)="showMarked()" size="6" style="display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;">
        <div style="border: 1px solid;
        width: 100%;
        text-align: center;height: 30px;
        justify-content: center;
        display: flex;
        align-items: center;">
          <ion-text style="font-size: 11px;font-family: WorkSans-Regular;
          color: #444D4D;">{{ 'EXHIBITORS.filter_visit_again' | translate }}</ion-text>
        </div>
      </ion-col>
    </ion-row>
      <ion-row class="exhibRowHeader">
        <ion-col>
          <div class="title">
            <p style="margin-left: 3%;color: #112142;
            font-size: 23px;font-family: WorkSans-Regular;">{{ 'EXHIBITORS.exhibitors' | translate }}</p>
          </div>
        </ion-col>
      </ion-row>

      <div style="padding-bottom: 20%;" >
        <ion-row   class="exhibRow" *ngFor="let exhibitor of _filteredExhibitors" [routerLink]="['/tabs/exhibitors-detail/', exhibitor.id]"  routerDirection="forward">
          <ion-col>
            <div class="lübbeContainer">
              <ion-row>
                <ion-col size="3">
                  <div>
                    <img src="{{exhibitor.logo?.path}}">
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div class="exh-name" >
                    <p>{{exhibitor.name}}</p>
                  </div>
                </ion-col>
                <ion-col size="3" style="display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;">
                      <ion-icon style="font-size: 25px;color: #007072;" 
                      name="arrow-forward-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>

      </div>


  </ion-content>
