
@media all and (min-height: 854px)
{
 .background{
   background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
   height: 25%;
   width: 100%;
   background-size: 100% auto;
  
   position: absolute;
 }
}



@media all and (min-height: 640px)
 {
  .background{
    background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
    height: 25%;
    width: 100%;
    background-size: 100% auto;
    top: 0;
    align-items: baseline;
    position: absolute;
    left: 0px;
  }
}

@media all and (min-height: 812px)
 {
  .background{
    background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
    height: 20%;
    width: 100%;
    background-size: 100% auto;
    top: 0;
    align-items: baseline;
    position: absolute;
    left: 0px;
  }
}

.lower-background {
    width: 100%;
    z-index: -2;
    left: 0%;
    right: 0%;
}

ion-content{
    --ion-background-color:#F5F5F5;
    letter-spacing: 2px;
    color: #112142;
}

.background .headerSheet .return {
    --border-color: transparent;
    --ion-color-primary: #7BB0B1;
    z-index: 8;
}

.share {
    --border-color: transparent;
    --ion-color-primary: white;
    background-color: transparent;
} 
 
.background .header {
    letter-spacing: 2px;
    font-size: 18px;
    color: white;
}

.background .inner-Box .rPict {
    width: 75%;
    height: 75%;
    position: relative;
}

.background .inner-Box {
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}