<app-toolbar-with-slots title="{{ 'TEXTNOTE.title' | translate }}">
  <ion-buttons slot="start">
    <ion-button>
      <ion-icon slot="icon-only" name="document-text-outline" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button (click)="submit()" [disabled]="!form.valid">
      <ion-icon slot="icon-only" name="checkmark-outline" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar-with-slots>

<ion-content>

  <form [formGroup]="form" style="padding: 16px;">
    <ion-row>
      <ion-col>
        <ion-label position="stacked">{{ 'TEXTNOTE.note_name' | translate }}</ion-label>
        <ion-input style="--placeholder-color: #D1C5B0;" class="ion-input" placeholder="{{ 'TEXTNOTE.name_placeholder' | translate }}"
          formControlName="title" autocapitalize="on"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10%;">
      <ion-col>
        <ion-label position="floating">{{ 'TEXTNOTE.note_content' | translate }}</ion-label>
        <ion-textarea rows="5" cols="12" placeholder="{{ 'TEXTNOTE.content_placeholder' | translate }}" formControlName="content"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10%;">
      <ion-col style="text-align: center;">
        <div>
          <ion-button class="save" fill="outline" shape="round" [disabled]="!form.valid" (click)="submit()">
            {{ 'TEXTNOTE.save' | translate }}
            <img style="margin-left: 12%;" src="../../../assets/anfragenarrow.png">
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 3%;padding-bottom: 15%;">
      <ion-col style="text-align: center;">
        <div>
          <ion-button class="break" fill="outline" (click)="back()">{{ 'TEXTNOTE.cancel' | translate }}</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </form>

</ion-content>