ion-content {
    letter-spacing: 2px;
}


.background {
    background-image: url(/../../../../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
    height: 20%;
    width: 100%;
    background-size: 100% auto;
    top: 0;
    align-items: baseline;
    position: absolute;
    left: 0px;
}

.background .header {
    font-size: 18;
    color: white;

}

.background .headerSheet .newDoc {
    --border-color: transparent;
    --ion-color-primary: white;
}

.background .rightCol .submit {
    --ion-color-primary: white;
    margin-right: 5%;
    width: 110%;
    height: auto;
}

.searchbox {
    border-bottom: 1px solid #112142;
    margin-right: 5%;
    margin-left: 5%;
}

.titleBox {
    width: 90%;
    height: 40px;
    background-color: #C5DCDD;
}
 
.icon {
    --ion-color-primary: transparent;
    --border-color: transparent;
    color: #D1C5B0;
}

.titleBox .clock {
    font-size: 8px;
}


.background-bottom {
    background-image: url(/../../assets/BG-Iconic_final/einloggen-bottom@1x.png);
    height: 30%;
    width: 100%;
    background-size: 100% auto;
    bottom: 0;
    align-items: baseline;
    max-width: auto;
    position: absolute;
    left: 0px;
}