<ion-toolbar>

    <ion-button slot="start" (click)="close()" fill="none" size="2">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
    </ion-button>

    <ion-title>
        <div class="title">
            {{ 'LANGUAGE_POPOVER.label' | translate }}
        </div>
    </ion-title>

</ion-toolbar>


<ion-list>
  <ion-item button *ngFor="let lng of languages" (click)="select(lng.value)" detail="false">
    <img [src]="lng.img" slot="start" style="width: 30px; height: auto;">

    <ion-label text-wrap> {{ lng.text }} </ion-label>
    <ion-icon slot="end" name="checkmark" *ngIf="lng.value == selected"></ion-icon>
  </ion-item>
</ion-list>

