.background{
    background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
   // height: 20%;
    width: 100%;
    font-family:"WorkSans-Medium";
    z-index: 10;
    position: absolute;
    height: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    padding-top: 7%;
  }


.background p {
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
}

.background .headerSheet .newDoc {
    --border-color: transparent;
    --ion-color-primary: white;
}

.background .rightCol .submit {
    width: 70%;
    height: auto;
    --ion-color-primary: white;
    background-color: transparent;
    --border-color: transparent;
}

.input {
    border-bottom: 1px solid #112142;
    color: #112142;
}

.audio {
    padding-left: 20%;
    padding-right: 20%;
}

.label .record {
    font-size: 13px;
    color: #112142;
    letter-spacing: 2px;
}

.abort {
    color: #444D4D;
    --border-width: none;
    background-color: transparent;
    --border-color: transparent;
}

.button .submit {
    color: #907F63;
    --ion-color-primary: #907F63;
    width: 70%;
    --border-width: medium;
    letter-spacing: 3px !important;
    height: 52px !important;
}


.form {
    text-align: center;
    font-size: 13px;
}

.background a {
    color: white;
}

ion-content {
    letter-spacing: 2px;
}