<app-toolbar-with-slots title="{{ 'AUDIONOTE.title' | translate }}">
  <ion-buttons slot="start">
    <ion-button>
      <ion-icon slot="icon-only" name="mic-outline" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button (click)="submit()" [disabled]="!form.valid">
      <ion-icon slot="icon-only" name="checkmark-outline" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar-with-slots>

<ion-content>
  <form [formGroup]="form">
    <ion-row style="padding: 16px;">
      <ion-col>
        <div class="input">
          <ion-label position="stacked">{{ 'AUDIONOTE.note_name' | translate }}</ion-label>
          <!-- <ion-input style="--placeholder-color: #D1C5B0;" placeholder="Titel eingeben"></ion-input> -->
          <ion-input style="--placeholder-color: #D1C5B0;" class="ion-input" placeholder="{{ 'AUDIONOTE.name_placeholder' | translate }}" 
              formControlName="title" autocapitalize="on"></ion-input>

        </div>
      </ion-col>
    </ion-row>
    <ion-row style="padding: 16px;">
      <ion-col>
        <div class="label">
          <p class="record">{{ 'AUDIONOTE.record' | translate }}</p>
        </div>
        <app-audio-control formControlName="file"></app-audio-control>
      </ion-col>
    </ion-row>
    <!--ion-row>
      <ion-col>
        <div class="audio" (click)="startRecording()" *ngIf="!recording && !recorded">
          <img src="../../../assets/Gruppe 121@2x.png">
        </div>

        <div class="audio" (click)="startRecording()" *ngIf="recording && !recorded">
          <img src="../../../assets/recordingaudio.svg">
        </div>

        <div class="audio" (click)="startRecording()" *ngIf="!recording && recorded">
          <img src="../../../assets/recordedaudio.svg">
        </div>
      </ion-col>
    </ion-row-->
    <ion-row style="margin-top: 12%;">
      <ion-col style="text-align: center;">
        <div class="button">
          <ion-button [disabled]="!form.valid" (click)="submit()" class="submit" shape="round" fill="outline">
            {{ 'AUDIONOTE.save' | translate }}
            <img style="margin-left: 12%;" src="../../../assets/anfragenarrow.png">
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-bottom: 50px;justify-content: center;">

      <ion-text style="font-size: 13px;color: #444D4D;font-family: WorkSans-Regular;" (click)="back()">{{ 'AUDIONOTE.cancel' | translate }}
      </ion-text>

    </ion-row>

  </form>

</ion-content>