.header {
    background-image: url(/../../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
    height: 230px;
    height: calc(230px + (constant(safe-area-inset-top)*2));
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
     display: flex;
    margin-top: -3vh;
    background-position-y: 2vh;
}
.title {
    font-size: 18px;
    font-family: "WorkSans-Medium";
    top: calc(35px + constant(safe-area-inset-top));
    top: calc(35px + env(safe-area-inset-top));
    /* background: none; */
    color: var(--ion-color-primary-contrast);
    letter-spacing: 0.5px;
    width: 100%;
    padding-inline: 0px;
    text-align: center;
    position: absolute;
    height: 15px;
}
