.container {
    z-index: 1000;
    background-color: #ffffffbd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.nobackground {
   background-color: transparent !important; 
}