<app-toolbar-with-slots title="{{ 'PRODUCTADD.title' | translate }}">
  <ion-buttons slot="start">
    <ion-button (click)="return()">
      <ion-icon slot="icon-only" name="arrow-back-outline" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar-with-slots>

<ion-content>
  <form [formGroup]="form">
    <ion-row style="padding-left: 10%; padding-right: 10%;">
      <ion-col>
        <div id="input">
          <ion-label stacked>{{ 'PRODUCTADD.product_name' | translate }}</ion-label>
          <ion-input style="  --placeholder-color:#007072;font-size: 18px;font-family: WorkSans-Regular;"
            placeholder="{{ 'PRODUCTADD.name_placeholder' | translate }}" formControlName="product_name" autocapitalize="on" 
                (ionChange)="onProductNameChange($event)"></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 15px;padding-left: 10%; padding-right: 10%;">
      <ion-col>
        <div id="input">
          <ion-label stacked>{{ 'PRODUCTADD.item_number' | translate }}</ion-label>
          <ion-input style="--placeholder-color:#B4B3B3;font-size: 18px;font-family: WorkSans-Regular;"
            placeholder="{{ 'PRODUCTADD.item_placeholder' | translate }}" formControlName="article_id"></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center; margin-top: 15%;" (click)="openCamera()">
      <ion-col>
        <div id="button">
          <div id="object">
            <p>{{ 'PRODUCTADD.photo' | translate }}</p>
            <div id="image">
              <img src="/../../assets/Icon feather-camera.png">
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center; margin-top: 10%;">
      <ion-col>
        <div id="button1">
          <div id="object1">
            <p (click)="goTextnote()">{{ 'PRODUCTADD.text' | translate }}</p>
            <div id="image1">
              <img src="/../../assets/Icon feather-edit-3.png">
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center; margin-top: 10%;">
      <ion-col>
        <div id="button1" style="margin-top: -4%;">
          <div id="object1">
            <p (click)="goAudionote()">{{ 'PRODUCTADD.voice_message' | translate }}</p>
            <div id="image1">
              <img width="16px" height="auto" src="/../../assets/mic.png">
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center; margin-top: 5%;">
      <ion-col>
        <ion-button style="width: 60%;" shape="round" id="submit" fill="outline" [disabled]="!form.valid" (click)="submit()">{{ 'PRODUCTADD.save' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
