.photo-icon {
    margin-right: var(--ion-margin-small);

}
.action-button {
    width: 80%;
    font-size: 16px;
    --padding-bottom: 32px;
    --padding-top: 32px;
    white-space: pre-wrap;
}
.centered-container {
    display: flex;
    justify-content: center;
    min-height: 80px;
}
.list {
    margin-bottom: 100px;
}
