<app-toolbar-with-slots title="{{ 'CAPTURE.title' | translate }}">
  <ion-buttons slot="start">
    <ion-button (click)="back()">
      <ion-icon slot="icon-only" name="arrow-back-outline" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar-with-slots>

<ion-content>
    <ion-list class="list">

      <ion-item lines="none">
        <ion-icon style="color: #C6B8A0" size="large" name="information-circle-outline" slot="start"></ion-icon>
          <ion-text style="color: #444D4D;font-size: 15px;">
            {{ 'CAPTURE.info' | translate }}
          </ion-text>
      </ion-item>

      <div class="centered-container" style="margin-top: 40px;">
        <ion-button shape="round" fill="outline" class="action-button" (click)="openCamera()">
          <ion-icon name="camera-outline" color="primary" class="photo-icon"></ion-icon>
          {{ 'CAPTURE.photo' | translate }}
        </ion-button>
        <!--input style="display: none;" type="file" id="pwaphoto" #pwaphoto accept="image/x-png,image/jpeg" (change)="uploadPWA()"-->
      </div>
      <!--
          <div class="centered-container" style="min-height: 30px;">
            <p style="font-size: 15px; color: #444D4D;">
              oder
            </p>
          </div>

          <div class="centered-container">
            <ion-button shape="round" fill="outline" class="action-button" (click)="openGallery()">
              <ion-icon name="images-outline" color="primary" class="photo-icon"></ion-icon>
              {{ 'CAPTURE.upload_photo' | translate }}
            </ion-button>
          </div>
   -->
          <div class="centered-container" style="min-height: 30px;">
            <p style="font-size: 15px; color: #444D4D;">
              {{ 'CAPTURE.or' | translate }}
            </p>
          </div>

          <div class="centered-container">
            <ion-button shape="round" fill="outline" class="action-button" (click)="searchExhibitorByStendNumber()">
              <ion-icon name="search-outline" color="primary" class="photo-icon"></ion-icon>
              {{ 'CAPTURE.exhibitor' | translate }}
            </ion-button>
          </div>

        </ion-list>

    </ion-content>


