<ion-list>
  <ion-item>
    <ion-label>{{ 'NOTEBOOK_FORM.notebook_participants' | translate }}</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="openSearch()">
        <ion-icon name="search-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-item *ngFor="let participant of value">
    <ion-label>
      <h2>{{ participant.fullname() }}</h2>
      <ion-note>{{ participant.email }}</ion-note>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="onRemoveParticipant(participant)">
        <ion-icon name="trash-outline" slot="icon-only" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-list>
