.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    width: 80%;
}

.content {
    --offset-bottom: 70px !important;
}

.notebook-list{
    padding-left: 15px;
    padding-right: 30px;
}

.text{
    color: #B4B3B3;
    font-family:"WorkSans-Regular";
    font-size: 18px;
}

.icon{
    color: #B4B3B3;
    font-size: 22px;
}

.div{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    border-bottom: 1px solid #112142;
    align-items: center;
}
.div2{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
}

.row{
    justify-content: center;
}
.row1{
    margin-top: 5px;
    justify-content: center;
}
.row2{
    margin-top: 5%;
    justify-content: center;
}
.row3{
    margin-top: 10%;
    justify-content: center;
}
.row4{
    margin-top: 5%;
    justify-content: center;
}
.div1{
    border: 1px solid #907F63;
    border-radius: 50px;
    width: 85%;
    padding: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    ion-text{
        color: #907F63;
        font-family: "WorkSans-Medium";
        font-size: 16px;
        margin-left: 7%;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    img{
        margin-left: 7%;
    }
}
.img{
    margin-left: 24%;
}
.img1{
    width: 50%;
    margin-top: 35%;
}
.text1{
    font-family:"WorkSans-Regular";
    font-size: 23px;
    color: #112142;
}

.col{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ionText{
    color: #112142;
    font-family:"WorkSans-Regular";
    font-size: 18px;
}

.activeText{
    color: #5f969b;
}

.book-kind-icon{
    margin-right: 6px;
    font-size: 15px;
}
