<app-toolbar title="{{ 'NOTEBOOKS.title' | translate }}"></app-toolbar>

<ion-content class="content">

  <ion-row class="row">
    <div class="div">

      <ion-input autocapitalize="on" placeholder="{{ 'NOTEBOOKS.search' | translate }}"
          type="text" class="text" [formControl]="searchControl" (ionChange)="onSearchInput()" ></ion-input>
      <ion-icon class="icon" name="search-outline"></ion-icon>
    </div>
  </ion-row>

  <ion-row class="row1" (click)="filterOwn()">
    <div class="div2" >
      <ion-text [ngClass]="_filterOwn ? 'activeText' : ' '" class="ionText"> <ion-icon name="person-outline" class="book-kind-icon"> </ion-icon>{{ 'NOTEBOOKS.my_books' | translate }} ({{getCountOwn()}})</ion-text>
    </div>
  </ion-row>

  <ion-row class="row1" (click)="filterShared()">
    <div class="div2">
      <ion-text [ngClass]="_filterTeam ? 'activeText' : ' '" class="ionText"><ion-icon name="people-outline" class="book-kind-icon"></ion-icon>{{ 'NOTEBOOKS.team_books' | translate }} ({{getCountShared()}})</ion-text>
    </div>
  </ion-row>

  <ion-row class="row2">
    <div class="div2" style="flex-direction: column;">
      <ion-text class="text1">{{ 'NOTEBOOKS.fairbooks' | translate }}</ion-text>
      <h6 *ngIf="_filterednotebooks && _filterednotebooks.length === 0" >{{ 'NOTEBOOKS.no_book' | translate }}</h6>
    </div>
  </ion-row>

  <app-spinner *ngIf="!_filterednotebooks"></app-spinner>
  
  <ion-list *ngIf="_filterednotebooks" class="notebook-list">
    <ion-item *ngFor="let notebook of _filterednotebooks" button (click)="openNotebook(notebook)">
      <ion-avatar slot="start" *ngIf="notebook.exhibition && notebook.exhibition.logo_url">
        <img [src]="notebook.exhibition.logo_url">
      </ion-avatar>

      <ion-icon *ngIf="!(notebook.exhibition && notebook.exhibition.logo_url) && notebook.is_shared" name="people-outline" class="book-kind-icon" [color]="isOwner(notebook) ? 'primary' : 'dark'"></ion-icon>
      <ion-icon *ngIf="!(notebook.exhibition && notebook.exhibition.logo_url) && !notebook.is_shared" name="person-outline" class="book-kind-icon" color="primary"></ion-icon>

       <ion-label>
        <h2>{{notebook.title}}</h2>
        <p *ngIf="notebook.description">{{notebook.description}}</p>
        <p *ngIf="!notebook.description && notebook.exhibition">{{notebook.exhibition.name}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button (click)="newNotebook()" type="button" shape="round" class="main-button button-outline w-90 ">
    <ion-icon name="add" class="submit-icon"></ion-icon>
    {{ 'NOTEBOOKS.new_book' | translate }}
  </ion-button>

</ion-content>

<app-footer></app-footer>
