<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="notes-mixed">
      <ion-icon  name="newspaper-outline"></ion-icon>
      {{ 'TABS.notes' | translate }}
    </ion-tab-button>

    <ion-tab-button tab="exhibitors-list" class="comments">
      <ion-icon   name="list-outline"></ion-icon>
      {{ 'TABS.exhibitors' | translate }}
    </ion-tab-button>

    <svg  height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path  d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path></svg>

    <ion-tab-button tab="messe" class="notifs" >
      <ion-icon name="alert-circle-outline"></ion-icon>
      {{ 'TABS.fair_info' | translate }}
    </ion-tab-button>

    <ion-tab-button (click)="presentModal()">
      <ion-icon name="ellipsis-vertical"></ion-icon>
      {{ 'TABS.menu' | translate }}
    </ion-tab-button>

    <ion-fab vertical="bottom" horizontal="center" translucent="true">
      <ion-fab-button (click)="goToErfassen()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-tab-bar>

</ion-tabs>
