ion-tabs{
  ion-fab {
    margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
    ion-fab-button {
      --box-shadow: none;
    }
  }
  ion-tab-bar {
    height: 66px;
    --border: 0;
    --background: transparent;
    position: absolute;
    bottom: 0;
    left:0; right: 0;
    width: 100%;
    &:after{
      content: " ";
      width: 100%;
      bottom: 0;
      background: var(--ion-color-light);
      height: env(safe-area-inset-bottom);
      position: absolute;
    }
    ion-tab-button {
      --background: var(--ion-color-light);
        --padding-end: 0px;
        --padding-start: 0px;
      ion-icon{
        font-size: 24px;
      }
    }
    ion-tab-button.comments {
      margin-right: 0px;
      border-top-right-radius: 18px;
    }
    ion-tab-button.notifs {
      margin-left: 0px;
      border-top-left-radius: 18px;
    }
    svg {
      width: 72px;
      margin-top: 28px;
      path{
        fill:  var(--ion-color-light);
      }
    }
  }
}

