<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border" [translucent]="true">
    <ion-toolbar>
      <ion-title>
        <!-- Gutscheine -->
      </ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/notes-mixed"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <iframe   id="iFrame"  #iframe
            [src]="_url"
            [style.height]="'100%'" [style.width]="'100%'" [width]="'100%'" [height]="'100%'"
            webkitallowfullscreen mozallowfullscreen allowfullscreen
            frameborder="0" allow="gyroscope; accelerometer; xr"
  >
</iframe>

</ion-content>
