@font-face {
  font-family: "WorkSans-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/400/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans-Medium";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/400/WorkSans-Regular.ttf") format("truetype");
}


.app-spinner-class {
  --background: #ffffff00;
  --spinner-color: #fff;
  color: var(--ion-color-secondary);
  border: none;
  box-shadow: none;
}

.app-spinner-class .loading-wrapper {
  box-shadow: none;
}

app-toolbar {
  z-index: 9999;
  height: 160px;
  ion-buttons {
    position: fixed;
    top: 0;
    right: var(--ion-margin-small);
    margin-top: 7%;
  }
}

app-toolbar-with-slots {
  z-index: 9999;
  ion-buttons[slot="start"] {
    position: absolute;
    top: 25px;
    left: 25px;
    top: calc(25px + constant(safe-area-inset-top));
    top: calc(25px + env(safe-area-inset-top));
  }
  ion-buttons[slot="end"] {
    position: absolute;
    top: 25px;
    right: 25px;
    top: calc(25px + constant(safe-area-inset-top));
    top: calc(25px + env(safe-area-inset-top));
  }
}

ion-content {
  --offset-top: 70px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}


ion-content {

  --ion-background-color: #F5F5F5;
}

p {
  font-family: "WorkSans-Regular";
}

ion-text {
  font-family: "WorkSans-Regular";
}

ion-label {
  font-family: "WorkSans-Regular";
}

ion-content {
  font-family: "WorkSans-Regular";

  .background {
    font-family: "WorkSans-Medium";
  }
}


.myOptionsmodalPage {
  position: fixed;
  bottom: 0;
  width: 100%;
  top: 66%;

  .modal-wrapper {
    background: #FFFFFF;
  }
}


ion-button {
  --font-family: 'Work Sans Medium';
}

.socialSharingModal {
  .modal-wrapper {
    height: 34%;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #FFFFFF;
  }
}

.background {
  position: fixed !important;
  height: 26% !important;
  z-index: 111;
}

.footerbg {
  height: 12% !important;
}

.main-button {
  width: 100%;
  --ion-color-primary: #907F63;
  letter-spacing: 3px;
  text-transform: uppercase;
  --border-width: 2px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.button-disabled {
  cursor: default;
  opacity: 0.8;
  pointer-events: none;
}

.small-text-block {
  display: flex;
  font-size: 14px;
  padding: var(--ion-padding-small);
}


.content-headline{
  margin-left: 3%;
  color: #112142 !important;
  font-size: 23px !important;
  font-family: WorkSans-Regular;
}


.footerbg{
  z-index: 1001;
  margin-left: 0px !important;
  background-image: url(/../assets/messeauswah-bottom@1x.png);
  height: 15%;
  width: 100%;
  bottom: 0;
  align-items: baseline;
  max-width: auto;
  left: 0px;

  background-position-x: 50%;
  background-position-y: 42%;
  position: fixed;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;

  @media all and (max-height: 500px){
    display: none;
  }
}

.masorny-grid{
  .card {
    max-width: 50vw;
  }
}
