
.justify-center{
    justify-content: center;
}

.justify-end{
  justify-content: flex-end;
}

.ml-s{
  margin-left: var(--ion-margin-small);
}

.mb-s{
  margin-bottom: var(--ion-margin-small);
}

.mb-m{
  margin-bottom: var(--ion-margin);
}

.w-70{
  width: 70% !important;
}

.w-90{
  width: 90% !important;
}

.m-v{
  margin-top: 10%;
  margin-bottom: 10%;
}


.bottom-center{
  position: absolute;
  bottom: 10vh;
  left: 0;
  right: 0;
}

.round {
  --width: 70%;
  --height: 100px;
  --border-radius: 50%;
  --vertical-align: middle;
  --padding-start: 10px;
  --padding-end: 10px;
  --border-color: #907F63;
  --border-width: medium;
  --letter-spacing: 2px;
}
