// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-background-color: #f5f5f5;

  --ion-color-primary: #007072;
  --ion-color-primary-rgb: 0,51,102;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #002d5a;
  --ion-color-primary-tint: #1a4775;

  --ion-color-secondary: #3f888f;
  --ion-color-secondary-rgb: 63,136,143;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #37787e;
  --ion-color-secondary-tint: #52949a;

  --ion-color-tertiary: #d1c5b1;
  --ion-color-tertiary-rgb: 193,161,120;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #aa8e6a;
  --ion-color-tertiary-tint: #c7aa86;

  --ion-color-success: #7BB0B1;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: white;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #7BB0B1;
  --ion-color-success-tint: #7BB0B1;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #ea5c53;
  --ion-color-danger-rgb: 234,92,83;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #ce5149;
  --ion-color-danger-tint: #ec6c64;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #444D4D;
  --ion-color-medium-rgb: 77,86,69;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #444c3d;
  --ion-color-medium-tint: #5f6758;

  --ion-color-light: #FFFFFF;
  --ion-color-light-rgb: 255,255,240;
  --ion-color-light-contrast: #FFFFFF;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #FFFFFF;
  --ion-color-light-tint: #FFFFFF;
  
  --ion-margin: 16px;
  --ion-padding: 16px;
  --ion-margin-small: 8px;
  --ion-padding-small: 8px;

  --ion-font-family: WorkSans-Regular;
  --ion-font-family-medium: WorkSans-Medium;
  --ion-font-family-regular: WorkSans-Regular;
}



