<ion-header translucent>
  <ion-toolbar>
    <ion-title>Messe suche</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionChange)="onFilterChange($event)" [value]="searchText"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-item *ngFor="let exhibition of filtered" (click)="onSelectExhibition(exhibition)">
      <ion-label [innerHTML]="getName(exhibition)">
        
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>