<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ 'USERS_SEARCH.title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionChange)="onFilterChange($event)" [value]="searchText" placeholder="Suche per E-Mail..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <app-spinner *ngIf="loading && users.length === 0" nobackground="false"></app-spinner>
  <ion-list *ngIf="users.length > 0">
    <ion-item *ngFor="let user of users">
      <ion-label>
        <h2>{{user.fullname()}}</h2>
        <ion-note [innerHTML]="getEmail(user)"></ion-note>
      </ion-label>
      <ion-checkbox slot="end" [checked]="isChecked(user)" (ionChange)="onCheck(user, $event)"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="noResults()">
    <ion-card-header>
      <ion-card-subtitle>{{ 'USERS_SEARCH.search_result' | translate }}</ion-card-subtitle>
      <ion-card-title>{{ 'USERS_SEARCH.invite_title' | translate }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{ 'USERS_SEARCH.invite_message' | translate }}
      <div class="footer">
        <ion-button fill="outline" color="primary" (click)="invite()">{{ 'USERS_SEARCH.invite' | translate }}</ion-button>
      </div>
    </ion-card-content>
    
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Bitte warten...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="onSubmit()">
    <ion-icon name="checkmark-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
