<ion-content>


  <ion-row class="background">
    <ion-col size="2" style="display: flex;
    flex-direction: column;
    align-items: flex-end;">
   
     
          <img (click)="return1()" style="padding-top: 50%;" src="../../../assets/backerfassen.svg">
          
    
    
    </ion-col>
    <ion-col size="10" style="top: 5px;">
      <div >
        <p class="header">Anfrage an Bastei Lübbe</p>
      </div>
    </ion-col>
  </ion-row>
 
    <ion-row style="margin-top: 30%;
    text-align: justify;
    padding: 10%">
     
       
          <p>Hier stellst du eine direkte Anfrage an den Aussteller</p>
        
    
    </ion-row>
    <ion-row style="margin-top: 10%;">
      <ion-col>
        <ion-label style="font-size: 13px;" position="floating">TEXT</ion-label>
        <div class="textarea">
         
          <ion-textarea rows="14" cols="8" placeholder="Schreiben..."></ion-textarea>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10%;">
      <ion-col style="text-align: center;">
        <div>
          <ion-button class="save" fill="outline" shape="round">
            ANFRAGEN
            <img style="margin-left: 12%;" src="../../../assets/anfragenarrow.png">
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
 

</ion-content>
