<app-toolbar-with-slots [title]="note ? 'Notiz bearbeiten' : 'Neue Notiz'">
  <ion-buttons slot="start">
    <ion-button (click)="close()">
      <ion-icon slot="icon-only" name="arrow-back-outline" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar-with-slots>

<ion-content>
  <form [formGroup]="form">
    <ion-list class="form">
      <ion-item *ngIf="showProductFields">
        <ion-label position="floating" [color]="color('product_name')">Produktname</ion-label>
        <ion-input formControlName="product_name" name="note_product_name" autocapitalize="on"></ion-input>
      </ion-item>
      <ion-item *ngIf="showProductFields">
        <ion-label position="floating" [color]="color('article_id')">Artikel Nummer</ion-label>
        <ion-input formControlName="article_id" name="note_article_id" autocapitalize="on"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" [color]="color('title')">Titel<app-required></app-required></ion-label>
        <ion-input formControlName="title" autocapitalize="on"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" [color]="color('type')">Typ<app-required></app-required></ion-label>
        <ion-select interface="popover" formControlName="type">
          <ion-select-option *ngFor="let type of types()" [value]="type.value">
            {{type.label}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="isTypeText()">
        <ion-label position="floating" [color]="color('content')">Inhalt<app-required></app-required></ion-label>
        <ion-textarea formControlName="content" autoGrow="true" rows="7"></ion-textarea>
      </ion-item>
      <app-image-control formControlName="file" [color]="color('file')" *ngIf="isTypeImage()"></app-image-control>
      <app-audio-control formControlName="file" [color]="color('file')" *ngIf="isTypeAudio()"></app-audio-control>

      <ion-button (click)="submit()" type="button" shape="round" class="main-button button-outline" [disabled]="!form.valid">
        <ion-icon name="checkmark-outline" class="submit-icon"></ion-icon>
        {{note ? 'Änderungen speichern' : 'Erstellen'}}
      </ion-button>

    </ion-list>
  </form>
</ion-content>

<app-footer></app-footer>
