.form {
    padding: var(--ion-padding);
}
.submit {
    margin-top: var(--ion-margin);
    width: 100%;
}
.submit-icon {
    margin-right: var(--ion-margin-small);
}
.content {
    --offset-bottom: 50px !important;
}