.background{
    background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
   // height: 20%;
    width: 100%;
    font-family:"WorkSans-Medium";
    z-index: 10;
    position: absolute;
    height: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
  }


.background .header {
    color: white;
    font-size: 19;
    text-align: bottom left;
    position: sticky;
    fill: transparent;
    margin-left: 0;
}

.background .headerSheet .return {
    border: none;
    --ion-color-primary: transparent;
    color: #7BB0B1;
    height: 90%;
    width: 100%;

}

#submit {
    --ion-color-primary: #907F63;
    height: 45px;
    --border-style: solid;
}

ion-grid {
    font-family: Helvetica;
}

#button {
    width: 70%;
    border: solid #007072 2px;
    height: auto;
    z-index: 1;
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 16px;
    height: 116%;
    padding-top: 10px;
}

#button #object{
    margin: 0 auto;
    width: 80%;
    height: 50%;
    font-size: 17;
    color: #007072;
}

#button #object #image{
    z-index: 2;
    position: absolute;
    top: -22px;
    left: 40%;
    width: 20%;
    height: auto;
    background-color: whitesmoke;
}

#button #object #image1 {
    z-index: 2;
    position: absolute;
    top: -22px;
    left: 45%;
    width: 10%;
    height: auto;
    background-color: whitesmoke;
}

#button #object #image1 img {
    width: 80%;
    height: 80%;
}
 
.submit ion-button {
    --border-width: medium; 
    width: 60%;
    letter-spacing: 3px;
    height: 45px;
    font-size: 18px;
    font-family: "Work-Sans-Medium";
    color: #907F63;
}

ion-button{
    letter-spacing: 3px;
    --height: 45px !important;
    font-size: 18px;
 
}

ion-content {
    font-family: Work Sans, Helvetica;
    letter-spacing: 2px;
}

#button1 {
    width: 70%;
    border: solid #007072 2px;
    height: auto;
    z-index: 1;
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 16px;
    height: 120%;
    padding-top: 10px;
}

#button1 #object1{
    margin: 0 auto;
    width: 80%;
    height: 50%;
    font-size: 17;
    color: #007072;
}

#button1 #object1 #image2{
    z-index: 2;
    position: absolute;
    top: -22px;
    left: 40%;
    width: 20%;
    height: auto;
    background-color: whitesmoke;
}