@media all and (min-height: 854px)
 {
  .background{
    background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
    height: 25%;
    width: 100%;
    background-size: 100% auto;
    font-family:"WorkSans-Medium";
    position: absolute;
  }
}

@media all and (min-height: 640px)
 {
  .background{
    background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
    height: 25%;
    width: 100%;
    background-size: 100% auto;
    top: 0;
    align-items: baseline;
    position: absolute;
    left: 0px;
  }
}

@media all and (min-height: 812px)
 {
  .background{
    background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
    height: 20%;
    width: 100%;
    background-size: 100% auto;
    top: 0;
    align-items: baseline;
    position: absolute;
    left: 0px;
  }
}
.background p {
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
}

.background .headerSheet .newDoc {
    --border-color: transparent;
    --ion-color-primary: white;
}

.background .rightCol .submit {
    width: 70%;
    height: auto;
    --ion-color-primary: white;
    background-color: transparent;
    --border-color: transparent;
}

.input {
    border-bottom: 1px solid #112142;
    color: #112142;
}

.audio {
    padding-left: 20%;
    padding-right: 20%;
}

.label .record {
    font-size: 13px;
    color: #112142;
    letter-spacing: 2px;
}

.abort {
    color: #444D4D;
    --border-width: none;
    background-color: transparent;
    --border-color: transparent;
}

.button .submit {
    color: #907F63;
    --ion-color-primary: #907F63;
    width: 70%;
    --border-width: medium;
    letter-spacing: 2px;
    height: 58px;
}


.form {
    text-align: center;
    font-size: 13px;
}

.background a {
    color: white;
}

ion-content {
    letter-spacing: 2px;
}