<app-toolbar [title]="notebook ? notebook.title : 'Bitte warten...'" noLogo="true">
  <ion-buttons slot="start">
    <ion-button (click)="goBack()">
      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end" *ngIf="notebook">
    <ion-button (click)="editNotebook()">
      <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="deleteNotebook()">
      <ion-icon slot="icon-only" name="trash-outline" color="danger"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar>

<ion-content>

  <app-spinner *ngIf="!notebook"></app-spinner>

  <ion-card *ngIf="notebook">
    <img [src]="notebook.exhibition.banner?.path" *ngIf="notebook.exhibition && notebook.exhibition.banner?.path" class="exhibition-banner"/>
    <ion-card-header>
      <ion-card-subtitle *ngIf="notebook.exhibition">{{notebook.exhibition.name}}</ion-card-subtitle>
      <ion-card-title>{{notebook.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{notebook.description}}
    </ion-card-content>
  </ion-card>

  <app-notes-tile-view *ngIf="notebook" [notebook]="notebook"></app-notes-tile-view>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="notebook">
    <ion-fab-button (click)="newNote()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
