<ion-header *ngIf="variant == 'standard'">
    <ion-toolbar color="primary">
        <img src="/../../assets/BG-Iconic_final/messe_book_logo.png" slot="start" class="logo" *ngIf="!noLogo">
        <ion-title *ngIf="title" class="title">{{ title }}</ion-title>
        <ng-content></ng-content>
    </ion-toolbar>
</ion-header>

<div class="header-large" *ngIf="variant == 'large'">
    <img src="/../../assets/pictures/messe_book_logo.png" class="logo-large">
    <ion-title *ngIf="title" class="title title-large">{{ title }}</ion-title>
</div>

<div class="header-small" *ngIf="variant == 'small' ">
    <ion-icon *ngIf="icon && !logo"  class="icon" slot="icon-only" name="{{ icon }}"></ion-icon>
    <img *ngIf="logo && !icon" [ngClass]="{'custom-logo' : logo}"  [src]="logo.path" class="logo">
    <img *ngIf="!icon && !logo" src="/../../assets/pictures/messe_book_logo.png" class="logo">
    <ion-title *ngIf="title" [ngClass]="{'margin-left' : logo, 'centered' : !icon && !logo, 'header': true}">{{ title }}</ion-title>
    <ng-content></ng-content>
</div>

