
.title {
    font-family: var(--ion-font-family-medium);
    color: white;
}
.centered {
    margin-left: 50px;
    width: calc(100% - 60px) !important;
}
.logo {
    height: 40px;
    margin: var(--ion-margin-small);
    margin-left: var(--ion-margin) !important;
}

.header-large {
    background-image: url(/../../assets/pictures/registrieren-top@1x.png);
    height: 220px;
    height: calc(230px + (constant(safe-area-inset-top)*2));
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: var(--ion-margin);
}
.logo-large {
    height: 70px;
    margin-top: 20px;
    margin-left: 10px;
}
.title-large {
    position: absolute;
    top: 20px;
    left: 90px;
    font-size: 1.4em;
    top: calc(20px + constant(safe-area-inset-top));
    top: calc(20px + env(safe-area-inset-top));
}

.header-small{
    background-image: url(/../../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
    width: 100%;
    font-family:"WorkSans-Medium";
    z-index: 10;
    height: 200px;
    height: calc(230px + (constant(safe-area-inset-top)*2));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    background-position-y: 20px;
    margin-top: -20px;
    padding-top: 20px;
    .header {
        font-size: 18px;
        font-family: "WorkSans-Medium";
        top: calc(60px + constant(safe-area-inset-top));
        top: calc(60px + env(safe-area-inset-top));
        /* background: none; */
        color: var(--ion-color-primary-contrast);
        letter-spacing: 0.5px;
        width: 100%;
        padding-inline: 0px;
        text-align: center;
        position: absolute;
        height: 10px;
        &.margin-left{
            text-align: center;
        }
    }
    .logo {
        bottom: 0px;
        margin-left: 7%;
        position: relative;
        top: calc(10px + constant(safe-area-inset-top));
        top: calc(10px + env(safe-area-inset-top));
    }
    .custom-logo{
        top: calc(20px + constant(safe-area-inset-top));
        top: calc(20px + env(safe-area-inset-top));
    }
    .icon{
        margin-top: 5%;
        margin-left: 5%;
        position: fixed;
        color: white;
        font-size: 35px;
        top: calc(10px + constant(safe-area-inset-top));
        top: calc(10px + env(safe-area-inset-top));
        @media all and (min-height: 1000px){
            margin-top: 4%;
        }
        @media all and (min-height: 1500px){
            margin-top: 3%;
        }
        @media all and (min-height: 2000px){
            margin-top: 2%;
        }
    }
}



ion-buttons{
    position: absolute;
    right: 7vw;
    top: 7vw;
    ion-button{
        --color: white;
    }
}

