<app-toolbar variant="large"></app-toolbar>

<ion-content class="content">

  <div class="container">
    <form [formGroup]="form" class="form" *ngIf="form">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-label position="stacked">{{ 'LOGIN.mail/name' | translate }}<app-required></app-required>
                </ion-label>
                <ion-input name="email" formControlName="email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">{{ 'LOGIN.password' | translate }}<app-required></app-required>
                </ion-label>
                <ion-input name="password" [type]="passwordVisibility ? 'text' : 'password'" formControlName="password">
                </ion-input>
                <ion-buttons class="floating-button" slot="end">
                  <ion-button (click)="switchVisibility()">
                    <ion-icon slot="icon-only" color="primary"
                              [name]="passwordVisibility ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="autologin-wrapper">
            <ion-label color="primary" style="margin-right: 8px;">{{ 'LOGIN.stay_logged_in' | translate }}</ion-label>
            <ion-checkbox mode="ios" name="autoLogin" formControlName="autoLogin">
            </ion-checkbox>
          </ion-col>
        </ion-row>

        <div class="small-text-block justify-end"><a (click)="forgotPassword()">{{ 'LOGIN.forgot_password' | translate }}</a></div>

        <ion-row class="justify-center">
          <ion-button (click)="login()" shape="round" class="main-button button-outline w-70" [disabled]="!form.valid">
            {{ 'LOGIN.login' | translate }}
          </ion-button>
        </ion-row>

        <ion-row class="row justify-center" (click)="loginViaGoogle()" *ngIf="false">
          <ion-card class="card-button">
            <img class="img" style="width: 20%;" src="../../../assets/google.png">
            <ion-text class="text">{{ 'LOGIN.google_login' | translate }}</ion-text>
          </ion-card>
        </ion-row>

        <div (click)="loginViaApple()" class="apple-btn" *ngIf="false"></div>

        <hr class="divider" />
        <div class="justify-center small-text-block">
          {{ 'LOGIN.no_account' | translate }}<a class="ml-s" (click)="newRegistration()">{{ 'LOGIN.register' | translate }}</a>
        </div>
        <div class="justify-center small-text-block">
          <a class="ml-s" href="http://fairbook.de/" target="_blank">{{ 'LOGIN.learn_more' | translate }}</a>
        </div>

        <ion-row style="margin-top: 10px;" *ngIf="this.platform.is('mobileweb') || this.platform.is('desktop')">
          <ion-col size="6" class="apple-badge">
            <a href="https://apps.apple.com/de/app/fairbook/id1534555611">
              <img src="../../../assets/badges/apple_store_badge.png">
            </a>
          </ion-col>
          <ion-col size="6" class="google-badge">
            <a href="https://play.google.com/store/apps/details?id=de.nextlevels.fairbook&hl=de&gl=US">
              <img src="../../../assets/badges/google_store_badge.png">
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>

</ion-content>

<app-footer></app-footer>
