.content {
  display: flex;
  flex-direction: column;
  --offset-bottom: 50px !important;
}

.container {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  min-width: 350px;
  margin: auto;
}

.password-button {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 100;
}


.google-logo {
  height: 20px;
}
.apple-login-button, .google-login-button {
  width: 100%;
}
.divider {
  margin: var(--ion-margin);
  height: 0;
}

.button-label {
  margin-left: var(--ion-margin-small);
}



.card-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4%;
  width: 70%;
  margin-bottom: 15px;
}

.apple-btn{
  --background: transparent !important;
  background-image: url(../../../../assets/images/apple-id-sign-in-with_2x.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
  width: 70%;
  margin: auto;
}

.floating-button{
  bottom: 0;
  position: absolute;
  right: 0;
}

.autologin-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
}

@media only screen and (min-width: 540px){
  .apple-badge {
    padding-left: 20% !important;
  }

  .google-badge {
    padding-right: 20% !important;
  }
}

@media only screen and (min-width: 991px){
  .apple-badge {
    padding-left: 40% !important;
  }

  .google-badge {
    padding-right: 40% !important;
  }
}
