<app-toolbar-with-slots title="{{ 'FORGOT_PASSWORD.title' | translate }}">
  <ion-buttons slot="start">
    <ion-button (click)="goBack()">
      <ion-icon slot="icon-only" name="arrow-back-outline" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar-with-slots>

<ion-content>

  <form [formGroup]="form">
    <ion-list class="form">
      <ion-item>
        <ion-label position="floating">{{ 'FORGOT_PASSWORD.mail' | translate }}<app-required></app-required></ion-label>
        <ion-input formControlName="email" [readonly]="isVisible()"></ion-input>
      </ion-item>
      <ion-item *ngIf="isVisible()">
        <ion-label position="floating">{{ 'FORGOT_PASSWORD.verification' | translate }}<app-required></app-required></ion-label>
        <ion-input formControlName="code"></ion-input>
      </ion-item>
      <ion-item *ngIf="isVisible()">
        <ion-label position="floating">{{ 'FORGOT_PASSWORD.password' | translate }}<app-required></app-required></ion-label>
        <ion-input formControlName="password" [type]="passwordVisibility ? 'text' : 'password'"></ion-input>
        <ion-buttons slot="end">
          <ion-button (click)="switchVisibility()" >
              <ion-icon slot="icon-only" color="primary" [name]="passwordVisibility ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item *ngIf="isVisible()">
        <ion-label position="floating">{{ 'FORGOT_PASSWORD.retype_password' | translate }}<app-required></app-required></ion-label>
        <ion-input formControlName="password_confirmation" [type]="passwordVisibility2 ? 'text' : 'password'"></ion-input>
        <ion-buttons slot="end">
          <ion-button (click)="switchVisibility2()" >
              <ion-icon slot="icon-only" color="primary" [name]="passwordVisibility2 ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-note color="danger" *ngIf="form.errors && form.errors.notMatch">{{ 'FORGOT_PASSWORD.no_match' | translate }}</ion-note>
      <ion-button (click)="sendActivationCode()" type="button" shape="round" class="main-button button-outline" [disabled]="!form.valid" *ngIf="!isVisible()">
        <ion-icon name="paper-plane-outline" class="submit-icon"></ion-icon>
        {{ 'FORGOT_PASSWORD.send' | translate }}
      </ion-button>
      <ion-button (click)="changePassword()" type="button" shape="round" class="main-button button-outline" *ngIf="isVisible()">
        <ion-icon name="key-outline" class="submit-icon"></ion-icon>
        {{ 'FORGOT_PASSWORD.change_password' | translate }}
      </ion-button>

      <div class="justify-center small-text-block">
        {{ 'FORGOT_PASSWORD.no_account' | translate }}<a class="ml-s" (click)="newRegistration()">{{ 'FORGOT_PASSWORD.register' | translate }}</a>
      </div>
    </ion-list>

  </form>

</ion-content>

<app-footer></app-footer>
