<ion-item button (click)="selectImage()">
  <ion-avatar slot="start" *ngIf="!value">
    <img src="../../../../assets/pictures/media.jpg">
  </ion-avatar>
  <ion-avatar slot="start" *ngIf="value">
    <img *ngIf="value.data" [src]="value.data">
    <img *ngIf="value.path" [src]="value.path">
  </ion-avatar>
  <ion-label [color]="color">
    <h2 *ngIf="!value">{{ 'IMAGE_CONTROL' | translate}}</h2>
    <h2 *ngIf="value">{{value.file_name}}</h2>
  </ion-label>
  <ion-buttons slot="end" *ngIf="value">
    <ion-button (click)="removeImage($event)">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end" *ngIf="!value">
    <ion-button (click)="makePhoto($event)">
      <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>
