<app-toolbar-with-slots [title]="note ? note.title : 'Bitte warten...'">
  <ion-buttons slot="start">
    <ion-button (click)="goBack()">
      <ion-icon slot="icon-only" name="arrow-back-outline" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end" *ngIf="note && isEditable()">
    <ion-button (click)="editNote()">
      <ion-icon slot="icon-only" name="pencil-outline" color="light"></ion-icon>
    </ion-button>
    <ion-button (click)="deleteNote()">
      <ion-icon slot="icon-only" name="trash-outline" color="danger"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar-with-slots>

<ion-content>

  <app-spinner *ngIf="!note"></app-spinner>

  <ion-card *ngIf="note">
    <ion-card-header>
      <ion-card-title>{{note.title}}</ion-card-title>
      <ion-card-subtitle>{{ note.created_at | localizedDate }}</ion-card-subtitle>
      <ion-card-subtitle *ngIf="note.product_name">{{ 'PRODUCT.name' | translate }} {{note.product_name}}</ion-card-subtitle>
      <ion-card-subtitle *ngIf="note.article_id">{{ 'PRODUCT.item_number' | translate }} {{note.article_id}}</ion-card-subtitle>
    </ion-card-header>
    <img [src]="note.file.path" *ngIf="isImageType() && note.file" class="image"/>
    <ion-card-content *ngIf="isTextType() || isImageType()" class="text">
      {{note.content}}
    </ion-card-content>
    <ion-card-content class="audio" *ngIf="isAudioType() && note.file">
      <audio controls>
        <source [src]="note.file.path" type="audio/mpeg">
      </audio>
    </ion-card-content>
  </ion-card>

  <ion-chip *ngIf="note?.exhibitor" (click)="openExhibitor()">
    <ion-label>{{note.exhibitor.name}}</ion-label>
  </ion-chip>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="share()">
    <ion-icon name="share-social-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>


