<ion-item button (click)="recordAudio()">
  <ion-buttons slot="start">
    <ion-button>
      <ion-icon slot="icon-only" name="mic-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-label [color]="color">
    <h2 *ngIf="!value">{{ 'AUDIO_CONTROL.record' | translate }}</h2>
    <h2 *ngIf="value">{{value.file_name}}</h2>
  </ion-label>
  <ion-buttons slot="end" *ngIf="value">
    <ion-button (click)="removeAudio($event)">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>
