<ion-grid *ngIf="notebook" class="grid">
  <ion-list>
    <ion-row style="padding: 20px;"  *ngIf="showSearch">
      <ion-input style="border-bottom: 1px solid #112142;display: flex;
          flex-direction: row-reverse;" placeholder="{{ 'NOTES_TILE.search' | translate }}" type="text"   (ionChange)="searchByTitle($event)" autocapitalize="on">
        <ion-icon size="large" color="medium" name="search-outline"></ion-icon>
      </ion-input>
    </ion-row>

    <ion-item button (click)="switchView()" lines="none" detail="false">
      <ion-icon slot="start" [name]="viewIcon()" class="view-switch-button"></ion-icon>
      <ion-label>
        {{viewName()}}
      </ion-label>
    </ion-item>

    <ion-item lines="none" class="mb-m">
      <ion-label><h2 class="content-headline">{{ 'NOTES_TILE.notes' | translate }}</h2></ion-label>
      <ion-buttons slot="end">
        <ion-button [ngClass]="{'filter-button': true, 'button-selected': isTypeSelected('TEXT')}" size="small" (click)="filterBy('TEXT')">
          <ion-icon slot="icon-only" name="pencil-outline" [color]="isTypeSelected('TEXT') ? 'light' : 'primary'"></ion-icon>
        </ion-button>
        <ion-button [ngClass]="{'filter-button': true, 'button-selected': isTypeSelected('IMAGE')}" size="small" (click)="filterBy('IMAGE')">
          <ion-icon slot="icon-only" name="camera-outline" [color]="isTypeSelected('IMAGE') ? 'light' : 'primary'"></ion-icon>
        </ion-button>
        <ion-button [ngClass]="{'filter-button': true, 'button-selected': isTypeSelected('AUDIO')}" size="small" (click)="filterBy('AUDIO')">
          <ion-icon slot="icon-only" name="musical-notes-outline" [color]="isTypeSelected('AUDIO') ? 'light' : 'primary'"></ion-icon>
        </ion-button>
        <ion-button class="add-button" size="small" (click)="newNote()" *ngIf="showAddNote && isEditable()">
          <ion-icon slot="icon-only" name="add-outline" color="primary"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

<div *ngIf="notesGrid().length != 0">
    <div *ngIf="view == 'TILES'" class="masorny-grid">
      <app-note-card  *ngFor="let n of getNotes(); let i = index" [note]="n" (noteClick)="openNote($event)" [searchToken]="filter.title"></app-note-card>
  </div>
  
    <div *ngIf="view == 'LIST'" style="margin-bottom: 20%;">
      <ion-row *ngFor="let row of notesGrid()">
        <ion-col size="12" *ngFor="let n of row" class="note-row">
            <app-note-card [note]="n" *ngIf="n" (noteClick)="openNote($event)" [searchToken]="filter.title"></app-note-card>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div  *ngIf="notesGrid().length == 0" (click)="newNote()" style="display: flex; justify-content: center;">
    <div id="addButtonBorder" style="background-image: url('../../../assets/plusMark.svg');"></div>
  </div>

</ion-grid>
