.grid {
    padding: 0;
}
.filter-button {
    margin-right: 4px !important;
    margin-bottom: 4px !important;
    --background: #00707221;
    --border-radius: 18px !important;
    ion-icon{
        font-size: 20px;
    }
}
.button-selected {
    --background: #007072bf;
}
.note-row {
    padding: 0;
}
.add-button {
    margin-bottom: 4px !important;
}
.view-switch-button {
    color: var(--ion-color-tertiary);
    margin-right: var(--ion-margin-small) !important;
    border: var(--ion-color-tertiary) solid 2px;
    border-radius: 25px;
    padding: 5px;
    font-size: 22px;
    margin-bottom: 20px;
}


.plus{
    background-image: url(/../../assets/plusMark.svg);
}



#addButtonBorder{
    width: 90%;
    height: 229px;
    border: 2px solid #C5DCDD;
    border-radius: 20px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    padding: 9%;
    background-repeat: no-repeat;
    background-position: center;
}

.plus{
    display:inline-block;
    width:50px;
    height:50px;
}

.masorny-grid{
    -moz-column-gap: 0.5em;
    column-gap: 0.5em;
    margin-bottom: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: masonry;
}

