.background{
    background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
    // height: 20%;
    width: 100%;

    z-index: 10;
    position: absolute;
    height: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:"WorkSans-Medium";
    padding: 5%;
}


.background .header {
    color: white;
    font-size: 18;
    text-align: left;
    letter-spacing: 2px;
}

.background .headerSheet img {

}

#input {
    color: #112142;
    border-bottom: 1px solid #112142;
    font-size: 13px;
    letter-spacing: 2px;
}

ion-grid {
    font-family: Helvetica;
}

#button {
    width: 70%;
    height: 135%;
    border: solid #007072 2px;
    height: auto;
    z-index: 1;
    position: relative;
    top: -20px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 16px;

}

#button #object {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    font-size: 16px;
    color: #007072;
}

#button #object #image{
    z-index: 2;
    position: absolute;
    top: -15px;
    left: 40%;
    width: 20%;
    height: auto;
    background-color: whitesmoke;
}

#button1 {
    width: 70%;
    border: solid #007072 2px;
    height: 100%;
    z-index: 1;
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button1 #object1{
    margin: 0 auto;
    width: 80%;
    height: 100%;
    font-size: 16px;
    color: #007072;
}

#button1 #object1 #image1{
    z-index: 2;
    position: absolute;
    top: -15px;
    left: 40%;
    width: 20%;
    height: auto;
    background-color: whitesmoke;
}

#button2 {
    width: 70%;
    border: solid #007072 2px;
    height: 100%;
    z-index: 1;
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button2 #object2{
    margin: 0 auto;
    width: 80%;
    height: 100%;
    font-size: 16px;
    color: #007072;
}

#button2 #object2 #image2{
    z-index: 2;
    position: absolute;
    top: -22px;
    left: 40%;
    width: 20%;
    height: auto;
    background-color: whitesmoke;
}

#button3 {
    width: 70%;
    border: solid #007072 2px;
    height: 100%;
    z-index: 1;
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button3 #object3{
    margin: 0 auto;
    width: 80%;
    height: 100%;
    font-size: 16px;
    color: #007072;
}

#button3 #object3 #image3{
    z-index: 2;
    position: absolute;
    top: -22px;
    left: 40%;
    width: 20%;
    height: auto;
    background-color: whitesmoke;
}

.background .return {
    --border-color: transparent;
    --ion-color-primary: white;
}


#submit {
    --ion-color-primary: #907F63;
    --border-width: 2px;
    letter-spacing: 2px;
    color: #907F63;
}
.row {
    text-align: center;
    margin-bottom: 40px;
    white-space: pre-wrap
}
/* Disabled, because not scrollable on small screen size*/
// ion-content {
//     height: 100%;
//     position: absolute;
//     top: 30%;
// }
