<app-toolbar-with-slots title="{{ 'ADDNOTE.title' | translate }}">
  <ion-buttons slot="start">
    <ion-button (click)="back()">
      <ion-icon slot="icon-only" name="arrow-back-outline" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar-with-slots>

<ion-content>

  <ion-row class="row">
    <ion-col>
      <div id="button">
        <div id="object">
          <p (click)="openCamera()">{{ 'ADDNOTE.photo' | translate }}</p>
          <div id="image">
            <img src="/../../assets/Icon feather-camera.png">
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="row">
    <ion-col>
      <div id="button1">
        <div id="object1">
          <p (click)="goTextnote()">{{ 'ADDNOTE.text' | translate }}</p>
          <div id="image1">
            <img src="/../../assets/Icon feather-edit-3.png">
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="row">
    <ion-col>
      <div id="button2">
        <div id="object2">
          <p (click)="goAudionote()">{{ 'ADDNOTE.voice_message' | translate }}</p>
          <div id="image2">
            <img width="18px" height="auto" src="/../../assets/mic.png">
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>


  <ion-row class="row" (click)="goToProduct()" style="margin-bottom: 70px;">
    <ion-col>
      <div id="button3">
        <div id="object3">
          <p>{{ 'ADDNOTE.product' | translate }}</p>
          <div id="image3">
            <img src="../../assets/images2/new icon/box.png">
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>

</ion-content>
