<ion-content>
 
 

    <ion-row class="background" style="    display: flex;
    align-items: center;
    padding-bottom: 20%;
    padding-left: 10%;">
  
       
          <img src="/../../assets/smalllogo.svg">
    
    
    
       
        <p  style="color: white;font-size:18px;margin-left: 6%;">Einstellungen</p>
      
     
    </ion-row>

    <div style="padding: 20px;margin-top: 35%;
  ">
      <ion-row >
     
        <p>
          Lorem Ipsum
        </p>
      
    </ion-row>

    <ion-row style="border-bottom: 2px solid white;
    margin-top: 2%;height: 45px;">
      <ion-col size="10">
<ion-text> Lorem Ipsum</ion-text>
      </ion-col>
      <ion-col size="2">
       <img src="../../../assets/nextArrow.svg">
      </ion-col>
    </ion-row>

    <ion-row style="border-bottom: 2px solid white;
    margin-top: 2%;height: 45px;"> 
      <ion-col size="10">
<ion-text> Lorem Ipsum</ion-text>
      </ion-col>
      <ion-col size="2">
        <img src="../../../assets/nextArrow.svg">
      </ion-col>
    </ion-row>

    <ion-row >
     
      <p>
        Lorem Ipsum
      </p>
    
  </ion-row>

  <ion-row style="border-bottom: 2px solid white;
  margin-top: 2%;">
    <ion-col size="2">
      <ion-checkbox mode="ios" color="success" checked></ion-checkbox>

    </ion-col>
    <ion-col size="10">
      <ion-text> Lorem Ipsum</ion-text>
    </ion-col>
  </ion-row>

  <ion-row style="border-bottom: 2px solid white;
  margin-top: 2%;"> 
   <ion-col size="2">
    <ion-checkbox mode="ios" color="success"></ion-checkbox>

  </ion-col>
  <ion-col size="10">
    <ion-text> Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</ion-text>
  </ion-col>
  </ion-row>


  <ion-row >
     
    <p>
      Lorem Ipsum
    </p>
  
</ion-row>

<ion-row style="border-bottom: 2px solid white;
margin-top: 2%;">
 
  
  <ion-col size="2">
    <ion-radio-group value="biff">
    <ion-radio mode="md" color="success" value="biff" style="width:30px;height:30px;"></ion-radio>
  </ion-radio-group>
  </ion-col>
  <ion-col size="10">
    <ion-text> Lorem Ipsum</ion-text>
      </ion-col>

</ion-row>

<ion-row style="border-bottom: 2px solid white;
margin-top: 2%;"> 
 
  
  <ion-col size="2">
    <ion-radio-group value="">
      <ion-radio mode="md" color="success" value="biff" style="width:30px;height:30px;"></ion-radio>
    </ion-radio-group>
  </ion-col>
  <ion-col size="10">
    <ion-text> Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</ion-text>
      </ion-col>

</ion-row>

<ion-row >
     
  <p>
    Lorem Ipsum
  </p>

</ion-row>

<ion-row style="border-bottom: 2px solid white;
margin-top: 2%;">
<ion-col size="10">
<ion-text> Lorem Ipsum</ion-text>
</ion-col>
<ion-col size="2">
  <ion-toggle color="success" checked></ion-toggle>
</ion-col>
</ion-row>

<ion-row style="border-bottom: 2px solid white;
margin-top: 2%;"> 
<ion-col size="10">
<ion-text> Lorem Ipsum</ion-text>
</ion-col>
<ion-col size="2">
  <ion-toggle color="success"></ion-toggle>
</ion-col>
</ion-row>


    </div>
   
   
   
  
    
    <ion-row style="margin-top: 10%;">
      <ion-col>
        <div style="text-align: center;">
          <ion-button style="width: 60%;--border-width: 2px;" shape="round" fill="outline">SPEICHERN</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10%; color: #907F63; font-size: 13px;margin-bottom: 70px;">
      <ion-col style="text-align: center;">
        <div>
          <ion-text style="color: #907F63;text-decoration: underline;">Abmelden</ion-text>
        </div>
      </ion-col>
    </ion-row>

</ion-content>
