.background{
  background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
 // height: 20%;
  width: 100%;
  font-family:"WorkSans-Medium";
  z-index: 10;
  position: absolute;
  height: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
}


.background .object {
    width: 50%;
    height: 50%;
}

ion-icon {
    --border-color: transparent;
    --ion-color-primary: #007072;
    width: 50%;
    height: 50%;
    background-color: white;
    border: none;
    color: #007072;
}

ion-button{
    color: #907F63;
    --border-color:#907F63;
}

 p{
    font-size: 23px;
    color: #112142;
}


ion-text{
    font-size: 16px;
    color: #444D4D;
}
.IpsumBox {
    font-size: 16px;
    border-bottom: 1px solid whitesmoke;
    --ion-color-primary: whitesmoke;
}

ion-content {
    background-color: whitesmoke;
}
