
.background{
    background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
   // height: 20%;
    width: 100%;
    font-family:"WorkSans-Medium";
    z-index: 10;
    position: absolute;
    height: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
  }


.background .header {
    color: white;
    font-size: 18px;
    text-align: left;
    letter-spacing: 2px;
    font-family:"WorkSans-Medium"
}

ion-button{
    height: 55px !important;
}

.background .headerSheet img {
    width: 50%;
    height: 50%;
}

.background .headerSheet .return {
    --ion-color-primary: #7BB0B1;
    --border-color: transparent;
}

ion-input {
    border-bottom: 1px solid #112142;
  
}

ion-content {
    font-family: Work Sans, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.col {
   
    color: #112142;
}

.submit {
    --border-width: medium;
    --ion-color-primary: #907F63;
    width: 70%;
    letter-spacing: 3px !important;
}

.col .tag {
    font-size: 23px;
    text-align: center;
}

ion-label {
    font-size: 13px;
}